@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
    margin: 0;
    width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

p, span, input, h1 {
    text-align: center;
    margin-top: 5px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 80%;
    color: #fee;
}

.text {
    position: absolute;
    top: 70px;
    width: 1280px;
    font-size: 150%;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s;
}

.text-end {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s;
}

#gui {
    position: relative;
    top: 35px;
    left: 40px;
    width: 190px;
    height: 25px;
    box-shadow: 0px 3px #a24;
    border: 1px solid #a24;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease 0.2s;
}

#gui:hover {
    height: 270px;
    box-shadow: 0px 3px #f79;
    border: 1px solid #f79;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
    transform: translateY(5px);
}

#gui:hover > * {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s;
}

.gui-element {
    visibility: hidden;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    opacity: 0;
    width: 160px;
    height: 25px;
    border: 1px solid #f79;
    background-color: rgba(255, 200, 200, 0.2);
    border-radius: 3px;
    box-shadow: 0px 2px #f79;
    transform: translateY(-20px);
    transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s, visibility 0.2s ease 0.1s;
}

.gui-element:hover {
    background-color: rgba(255, 200, 220, 0.5);
}

.resize-box {
    visibility: hidden;
    display: inline;
    width: 100px;
    height: 30px;
    margin-left: 25px;
    margin-top: 12px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s, visibility 0.2s ease 0.1s;
}

#resize-input {
    margin-top: 15px;
    margin-left: 18px;
    width: 60px;
    height: 30px;
    border: 1px solid #f79;
    background-color: transparent;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: right;
    font-size: 120%;
}

#size-text {
    width: 100px;
}

#border {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1240px;
    height: 680px;
    border: 1px solid #a24;
    border-radius: 3px;
    pointer-events: none;
}
